body {
    background: linear-gradient(600deg, #56746e, #1c6456);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: rgb(22, 32, 32);
}

.logoPortada {
    max-width: 70px;
    border-radius: 50%;
}

.nav-link {
    font-size: 15pt;
    font-weight: 400;
    color: beige !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: rgb(32, 157, 157) !important;
}

.active {
    background-color: rgb(32, 157, 157);
    border-radius: 10px;
}

.img {
    max-height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-fit {
    width: 110%;
    height: 300px;
    object-fit: cover;
}

.carousel-item {
    /*height: auto;*/
    overflow: hidden;
    transition: transform 1s ease-in-out;
}

.carrusel.inner {
    height: 15em;
    overflow: hidden;
}

.carousel-img-fit {
    width: 80%;
    height: 500px;
    object-fit: cover;
}


.divisor {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: beige;
    margin: 20px 0;
}

footer {
    background-color: darkslategrey;
    color: white;
    padding: 15px 0;

}


.curriculum{
    
}

.curriculum .fecha {
    font-weight: 800;
    color: rgb(250, 133, 0);
}

.curriculum .puesto {
    font-weight: 200;
    color: rgb(250, 133, 0);
}
.curriculum .title {
    font-weight: 800;
    color: rgb(255, 251, 188);
}