.contenedor{
    display: flex;
    flex-direction: row;
    direction: ltr;
    width: auto;
    flex-wrap: wrap;
}

.item{
    border: 1px black solid;
    height:  100px;
    width: 100px;
}

.item:first-child{
    background-color: rgb(14, 160, 165);
}

.item:nth-child(2){
    background-color: rgb(64, 113, 15);
}
.item:last-child{
    background-color: rgb(165, 57, 14);
}