header {
      background: linear-gradient(100deg, #937f6e, #ebded4);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(49, 31, 14, 0.6);
      color: rgb(255, 255, 239);
      padding: 100px 20px;
      text-align: center;
}

.logoPortada{
    max-width: 70px;
    border-radius: 50%;
}

nav{
      background: linear-gradient(660deg, #ebded4, #ae9783);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(49, 31, 14, 0.6);
      color: rgb(217, 198, 198);
      padding: 100px 20px;
      text-align: center;
}

section{
      border: 5px #85766a solid;
}

ul{
      display: flex;
      background: linear-gradient( 660deg, #463d35,  #85766a);
      border-radius: 6px;
      color: rgb(97, 68, 68);
      text-align: center;
}
li{
      display: flex;
      text-align: center;
      color: beige;
}

.card img {
      height: 200px;
      object-fit: cover;
}

footer {
      background: linear-gradient(660deg, #eee, #621d1d);
      color: rgb(255, 255, 239);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(49, 31, 14, 0.6);

      padding: 30px 0;
      text-align: center;
}
